*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  overflow: hidden;
} */

.welcome-page {
  position: relative;
  z-index: 50;
  min-height: 100vh;
  min-width: 100vw;
}

.welcome-background-one {
  z-index: -1;
  position: absolute;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 0 140%);
  background-color: #cddafd;
  height: 100vh;
  width: 100vw;
  transition: clip-path 4s ease-in;
}

.welcome-background-one.active {
  clip-path: polygon(0 0, 1000% 0, 0 140%);
}

.welcome-background-two {
  z-index: -2;
  position: absolute;
  bottom: 0%;
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%);
  background-color: #bee1e6;
  height: 100vh;
  width: 100vw;
}

.pic {
  image-rendering: pixelated;
}

.title {
  width: 28vw;
  position: absolute;
  top: 35%;
  left: 25%;
  transition: all 0.4s linear;
}

.title.active {
  transform: translateX(-40px);
  opacity: 0;
}

.enter {
  padding: 10px;
  width: 14vw;
  position: absolute;
  top: 80%;
  left: 60%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.enter:hover {
  transform: translateY(-15px);
}

.enter.active {
  left: 63%;
  opacity: 0;
}

.loader {
  background-color: #cddafd;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.anim-shoe {
  background-repeat: repeat-y;
  image-rendering: pixelated;
  height: 20vh;
}

.anim-shoe:nth-child(1) {
  background: url("https://res.cloudinary.com/dncemocxu/image/upload/v1629912341/sneak-love/chicago-red-black_1_n312jk.png");
  background-size: contain;
  animation: shoe-left 25s linear infinite;
}
.anim-shoe:nth-child(2) {
  background: url("https://res.cloudinary.com/dncemocxu/image/upload/v1629913065/sneak-love/grey-red_1_jmhik8.png");
  background-size: contain;
  animation: shoe-right 25s linear infinite;
}
.anim-shoe:nth-child(3) {
  background: url("https://res.cloudinary.com/dncemocxu/image/upload/v1629912336/sneak-love/grey-red_isrwng.png");
  background-size: contain;
  animation: shoe-left 25s linear infinite;
}
.anim-shoe:nth-child(4) {
  background: url("https://res.cloudinary.com/dncemocxu/image/upload/v1629912340/sneak-love/mocha_1_wfgwhv.png");
  background-size: contain;
  animation: shoe-right 25s linear infinite;
}
.anim-shoe:nth-child(5) {
  background: url("https://res.cloudinary.com/dncemocxu/image/upload/v1629912037/sneak-love/obsidian_1_pina59.png");
  background-size: contain;
  animation: shoe-left 25s linear infinite;
}

@keyframes shoe-left {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2000px 0;
  }
}
@keyframes shoe-right {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2000px 0;
  }
}

@keyframes bgMove {
  0% {
  }
  100% {
    background-color: red;
  }
}
